.page {
    text-align: center;
    align-content: center;
    background-color: rgb(212, 212, 212);  
    height: 100vh;
}

.header {
    margin-top: 5px;
    width: 100%;
    position: fixed;
    top: 0;
    color: #4c5fd5;

}

.content {  
    align-content: center;
    display: inline-block;
    width: 50vw;
    height: 80vh;
}

ul.list {
    list-style-type: none;
}

.listContainer {
    margin: 15px 0px 15px 0px;
}

